<tr>
  <th class="control_left_side"><span class="glyphicon glyphicon-plus-sign"></span></th>
  <th colspan="6" class="projects">
    <%= form_for(@task) do |f| %>
        
        <% if @task.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
            <ul> <% @task.errors.full_messages.each do |msg| %>
                 <li><%= msg %></li>
                 <% end %>
            </ul>
          </div>
        <% end %>

    <span class="input-group add_tast_to_project">
        <%= f.text_field :name, class: 'form-control add_tast_to_project_form', placeholder: 'Start typing here to create a task...', maxlength: 200, required: true %>
        <%= f.hidden_field :project_id, value: @project_id %> <!-- Add Task to direct Project -->
        <%= f.hidden_field :rating, value: Time.now %>
        <span class="input-group-btn">
          <%= f.submit 'Add Task', remote: true, class: 'btn btn-success addTask' %>
        </span>
    </span>
    <% end %>
  </th>
</tr>
  
